name hospital
ip '127.0.0.1'
port 8888

op readAll_patient () 
op create_patient (name, note, email, username) 
op update_patient (name, note, email, username, doctor_id, nurse_id) 
op delete_patient (username) 
op read_patient (username) 

op readAll_doctor () 
op create_doctor (name, note, email, username) 
op update_doctor (name, note, email, username, department) 
op delete_doctor (username) 
op read_doctor (username) 

op readAll_nurse () 
op create_nurse (name, note, email, username) 
op update_nurse (name, note, email, username) 
op delete_nurse (username) 
op read_nurse (username) 